/*@media screen and (min-width: 1000px) {
    body {
      background-color: lightgreen;
    }
  }*/
body{
    margin:0;
}

ul {
    list-style-type: none;/*gets rid of bullets*/
    display:flex;
    background-color: black;
    margin: 0;
    padding: 10px 0px;
    justify-content:flex-end;/*moves everything to the right*/
}
li a{
    text-decoration:none;/*gets rid of underline*/
    color:white;
    padding: 10px 30px;/*first val: top and bottom, second val: left and right*/
}

li a:hover{
    background-color:darkslategrey;

}
/*when you click on the link*/
li a:active{
    background-color:white;
    color:black
}

